html {
    display: flex;
    align-items:center;
    justify-content: center;
}
body {
    margin: 0;
    padding: 0;
    color: white;
    background-color: #ff9999;
    max-width: 100vh;
    max-height: 100vh;
    font-family: 'Pacifico', cursive;
    letter-spacing: 2px;
    display: flex;
    justify-content: center;
    align-items:center;
    width: 99vh;
    height: 99vh;
}
@media only screen and (max-width: 600px) {
    /* Ваши стили для телефонов здесь */
    body {
        padding: 30px;
    }
    h1 {
        font-size: 20px;
    }
    h2 {
        font-size: 18px;
    }
    h3 {
        font-size: 15px;;
    }
    p {
        font-size: 15px;
    }
    .second-part {
        width: 100%;
        height: auto;
    }
    .second-part img {
        width: 200px;
    }
    .fourh-part {
        padding-top: 300px;
        /* margin-top: 500px; */
        padding-bottom: 20px;
    }
}
.main-text {
    color: white;
}
.flex-col {
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
    justify-content: center;
}
.flex-row {
    display: flex;
    flex-direction: row;
    gap: 5px;
}
.btn {
    font-family: 'Pacifico', cursive;
    font-size: 22px;
    position:relative;
    width: 100px;
    height: 70px;
    border: 2px solid white;
    border-radius: 5px;
    color: white;
}
.no-button {
    background-color: red;
}
.yes-button {
    background-color: green;
}
.next-button {
    background-color: orange;
}
.hidden {
    display: none;
}
.first-part {
    text-align: center;
}
.second-part {
    text-align: center;
}

.collage {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 10px; /* Расстояние между картинками */
}
.collage img {
    max-width: 100%;
    width: 200px;
    height: 200px;
    object-fit: cover;
}
p {
    font-size: 20px;;
}
/* Love letter */

.wing {
    background:white;
     border-radius: 12px 20px 60px 20px;
     width:120px;
     height:50px; margin-top:80px;
     position:absolute;
}

/* right wing */

.right {
    margin-left:-60px;
    left:50%;
    animation:flap1 1s infinite;
    border-bottom:3px solid rgba(0,0,0,.08);
     border-radius: 12px 20px 60px 20px;
    transform:rotate(-10deg) translate(250px,0);
}

@keyframes flap1 {
    0% {
        transform:rotate(-10deg) translate(250px,0);
    }
    
    50% {
        transform:rotate(-5deg) translate(250px,0);
    }
}
.right:before {
    position:absolute;
    content:'';
    background:white;
    width:70%;
    height:70%;
       border-bottom:3px solid rgba(0,0,0,.08);
    border-radius: 20px 20px 60px 20px;
    transform:rotate(20deg) translate(-1px,0);
    margin-top:38px;
}

.right:after {
      position:absolute;
    content:'';
    background:white;
    width:40%;
    transform:rotate(29deg) translate(-8px,0);
    height:30%;
       border-bottom:3px solid rgba(0,0,0,.08);
    border-radius: 0px 0px 60px 70px;
    margin-top:66px;
}

/* left wing */

.left {
    border-radius:12px 20px 20px 60px;
     margin-left:-60px;
    left:50%;
     animation:flap2 1s infinite;
      border-bottom:3px solid rgba(0,0,0,.08);
    transform:rotate(10deg) translate(-248px, 0);
}

@keyframes flap2 {
    0% {
        transform:rotate(10deg) translate(-248px,0);
    }
    
    50% {
        transform:rotate(5deg) translate(-248px,0);
    }
}


.left:before {
    position:absolute;
    content:'';
    background:white;
    width:70%;
       border-bottom:3px solid rgba(0,0,0,.08);
    transform:translate(46%,0) rotate(-20deg);
    height:60%;
      border-radius:12px 20px 70px 70px;
    margin-top:40px;
}

.left:after {
      position:absolute;
    content:'';
    background:white;
    width:40%;
       border-bottom:3px solid rgba(0,0,0,.08);
    height:30%;
     transform:translate(164%,0) rotate(-34deg);
     border-radius:0px 0px 70px 60px;
    margin-top:58px;
}

/* heart */

.heart{
    position: absolute;
    width: 120px;
    z-index:99999;
    height: 100px;
    margin-left:-50px;
    left:50%;
     animation: heart 1s infinite;
    transform:scale(.8);
    transition:.6s;
    margin-top:60px;
    
}
.heart:before,
.heart:after{
    content: "";
    width: 50px;
    height: 80px;
    position: absolute;
    left: 50px;
    top: 0;
    border-radius: 50px 50px 6px 6px;
    background: crimson;
    transform: rotate(-45deg);
    transform-origin: 0 100%;
}
.heart:after{
    left: 0;
    transform: rotate(45deg);
    transform-origin :100% 100%;
}

@keyframes heart {
    0% {
        transform: scale(.8) translate(0,0);
    }
    
    50% {
        transform: scale(.92) translate(0, 12px);
    }
    
    100% {
        transform:scale(.8);
    }
}

/* envelope */

  #envelope {
  background: white; 
  margin: auto;
  height: 200px;
  position: relative;
  width: 320px;
  border-radius:8px;
  overflow:hidden;
  animation: floaty 1s infinite;
}

@keyframes floaty {
    0% {
        transform:translate(0,0);
    }
    
    50% {
        transform:translate(0, 12px);
    }
}

/* bottom, left, and right sides */
.sides {
  border-color: transparent #fbfbfb #f7f7f7 #fcfcfc;
  border-style: solid;
  border-width: 90px 170px;
  bottom: 0;
  height: 0;
  left: 0;
  position: absolute;
  width: 0;
}

/* top side */

.top {
  border-color: white transparent transparent;
  border-style: solid;
  border-width: 108px 140px 90px 140px;
  height: 0;
  left: 0;
  position: absolute;
  top: 0;
  transform-origin: 50% 0;
  width: 0;
}

